@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding:0;
  max-width: 100%;
}

body {
  overflow-x: hidden; /* remove horizantal scroll */
  font-family: 'Shadows Into Light', cursive;
  margin: 0;
  width: 100vw;
}

.container {
  width: 85vw;
  height: auto;
  margin: 0 auto;
  font-size: 25px;
}

#interactive {
  width: 100vw;
  height:100vh;
  position: fixed;
  z-index: -999; /*order send to back*/
}

h1 {
  color: #fff;
  padding: 45px;
  padding-left:0;
}

ul {
color: #fff;
float: right;
margin-top: -90px;
}

ul li {
  float: left;
  padding: 20px;
  list-style-type: none;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

.effect:hover {
  color: #0086E9;
  transition: 0.5s;
}

#about {
  padding-right:0;
}

footer {
  color: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 50px;
  font-size: 2em;
}

footer a {
  color: #fff;
  text-decoration: none;
}


.icon {
  padding: 15px;
}

/* Portfolio Page */
.imagegroup {
  width: 32%;
  color: white;
  display: inline-block;
  padding-bottom: 25px;
  text-align: center;
  font-style: italic;
}

.selected {
  font-weight: bold;
  font-style: normal;
}

/* About Page */
#me {
  width: 40%;
  float: left;
}

#bio {
  width: 40%;
  color: white;
  float: right;
}

button {
  width: 300px;
  padding: 15px;
  background-color: transparent;
  border: solid #fff 2px;
  color: #fff;
  border-radius: 10px;
  font-size: 1em;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
}

button:hover {
  background-color: #fff;
  color:#0f0b30;
  transition: 0.5s;
  cursor: pointer;
}

.footerflex {
  position: relative;
}
